@{ 
    ViewBag.Message = "EVALUATION DONE";
}

<h3>Thankyou for Evaluating!</h3>
<br />
<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Logout", "Login", "Account")</li>
    </ul>
</div>
